/* ===========================================
Colors
=========================================== */
body {
  background-color: #154e56;
  color: #b2b2b2;
}
h1 {
  color: #aa9632;
}
h1:before {
  content: 'bar';
}
h2 {
  color: #dd3784;
}
